@{
    ViewBag.Title = "Eleven Note Home";
}

<div class="jumbotron">
    <h1>Eleven Note</h1>
    <p class="lead">ASP.NET MVC project for note taking and organization built using C#, Javascript, and HTML</p>
    
</div>

<div class="row">

    
</div>